.footer {
    width: 100%;
    height: auto;

    background-color: rgba(5, 90, 2, 0.986);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-footer {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    filter: hue-rotate(90deg);
}

.lista-footer {
    display: flex;
    list-style-type: none;
}

.item-footer {
    padding: 15px;
}