.cabecinha{
    min-height: 10vh;
    width: 100%;
    background-color:rgb(115, 3, 3, 0.986) ;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.lista-menu{
    display: flex; 
    list-style-type:none;
    font-size: 1.6rem;
}
.item-menu{
    padding: 10px 15px;
}
.link-menu{
    
    text-decoration: none;
    color: rgb(255, 255, 255); 
}
#icone-menu{
    font-size:2rem;
    display: none;
}
.Titulo-Cabeca{
    text-align: center;
}