label{
    display: block;
}
form{
    display: block;  
    margin: 0 auto;
    width: 50%;
  
}
h1{
    text-align: center;
}

table{
width: 85%;
margin: 0 auto;
background-color: bisque;
}
th{
    background-color: rgb(199, 199, 196);
}

table,td,th{
    border:  1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.box{
    width: 60%;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
    background-color: cornflowerblue;
    text-align: center;
    padding: 15px;
}

.box a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.box> a:hover{
    text-decoration: none;
     color: rgb(233, 210, 6);
}